/************ Content Page - Exhibition ***********/

.content-description__highlight.content-description__info
  .content-description__heading {
  font-size: 3em;
}

.content-description__info .content-description__info-heading {
  font-weight: bold;
  display: block;
}

/************ Content Page - Collection ***********/

.content-description__info-subtitle {
  font-style: italic;
  font-weight: 500;
}

.content-description__info-subtitle-year {
  font-style: initial;
  font-weight: initial;
}

.content-description__artwork-details {
  display: block;
  font-size: 0.95rem;
}
