@font-face {
  font-family: 'MUMA Reg';
  src: url('https://www.monash.edu/__data/assets/file/0007/1688659/MUMAReg.woff2') format('woff2'), url('https://www.monash.edu/__data/assets/file/0006/1688658/MUMAReg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTW05-55Roman';  
  src: url('https://www.monash.edu/__data/assets/file/0011/1614917/HelveticaNeueLTW05-55Roman.woff2') format('woff2'), url('https://www.monash.edu/__data/assets/file/0006/1614894/HelveticaNeueLTW05-55Roman.woff') format('woff');
}