/************* GENERAL ******************/

body,
.container-master {
  transition: background-color var(--transition-duration) ease;
}

.container-master {
  // padding: 30px 0;
  height: calc(100vh - 30px);
  width: calc(100vw - 20px);
  margin: 28px 0 0 20px;
  border-left: 2px solid black;
  overflow: hidden;
}

.main-container__wrapper,
.main-navigation-menu__wrapper {
  height: calc(95% - 30px);
  /* max-height: 95%; */
  max-width: 100%;
}

.main-container__wrapper
  main
  > .content-container__item
  .content-container__inner {
  padding-bottom: 40px;
}

.home-landing__splash-screen,
.dl-home-landing__splash-screen {
  position: fixed;
  // background: black;
  // color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  transition: 2s all;

  > * {
    opacity: 0;
    transition: linear 1.5s all;
  }

  > div {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    top: 50%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.25rem;
  }

  > .splash-screen__close {
    position: absolute;
    right: 10%;
    top: 10%;
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;

    svg {
      height: 2em;
      width: 2em;
    }
  }
}

.home-landing__contents .content-container__item {
  padding-left: 0;
  // margin-left: -10px;
  transform: translateX(-10px);
  width: calc(100% - 5px);
  box-sizing: content-box;
}

.main-navigation-menu__options {
  float: left;
  clear: both; // display: inline-block;
  font-family: 'MUMA Reg', sans-serif;
  text-decoration: inherit;
  text-transform: uppercase;
  font-size: 2rem; // font-weight: bold;
  color: #000;
  line-height: 1.2em;
  padding-bottom: 0.25rem;

  &:hover {
    color: #000;
  }
}

.content-inner__image {
  max-width: 100%;
  max-height: 65vh;
  width: inherit;
  margin-bottom: 15px;

  &-wrapper {
    display: block;
  }
}

.home-landing__contents {
  .content-container__full-width .content-description__heading {
    font-size: 4.5rem;
    line-height: 1.2;
  }
}

.content-container {
  max-height: 100%;

  /* max-width: 100%; */
  &__inner {
    padding-right: 10px;
    padding-left: 15px;
  }

  &__item {
    padding: 0 15px;
  }

  &__half-width,
  &__full-width {
    .content-description__inner {
      padding-right: 10%;
    }
  }

  &__half-width {
    .content-description__heading.col-sm-12.col-md-6 {
      padding-right: 0;
    }
    .content-description__content.col-sm-12.col-md-6 {
      padding-left: 0;
    }
  }

  // &__full-width .content-description__heading {
  //   font-size: 4.5rem;
  //   line-height: 1.2;
  // }

  &__full-width .content-description__content.col-sm-12:not(.col-md-8) {
    max-width: 51%;
  }

  &__heading-small {
    font-weight: bold;
  }
}

.content-inner__classification {
  // display: inline-block;
  color: black;
  font-weight: bold;
  padding-bottom: 10px;
  // font-size: 1.2rem;
  // width: 100%;

  &,
  .content-inner__classification a {
    font-size: 1.2rem;
  }

  a {
    color: black;
    font-weight: bold;
    display: inline-block;
  }
}

.content-description__wrapper {
  // padding-top: 30px;
  padding-bottom: 30px;
}

.container-contents__rhs {
  padding-right: 10px;
  padding-left: 5px;
  border-left: 2px solid black;
}

.section-landing__contents .container-contents__main {
  margin-top: 50px;
}

.content-description__heading {
  font-family: 'MUMA Reg', sans-serif;
  font-size: 3rem; // font-weight: bold;
  line-height: 1.2;

  &.col-md-4 {
    padding-right: 1rem;
  }
}

a.content-description__heading {
  color: initial;
}

a .content-description__heading {
  color: initial;
}

.content-container__half-width .content-description__content {
  margin-top: 0.25rem;
}

.content-container__full-width .content-description__content {
  margin-top: 0.6rem;
}

.section-landing__contents .content-description {
  // &__heading {
  //   font-family: 'HelveticaNeueLTW05-55Roman', sans-serif;
  // }

  &__content {
    margin-top: 0;
  }
}

.content-container__item-stacker {
  .content-description__heading {
    font-family: 'HelveticaNeueLTW05-55Roman', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .content-container__inner {
    transform: translateX(-15px);
  }
}

/* Spinner animation, used for loaders
 * Taken from: https://github.com/tobiasahlin/SpinKit
 */

.spinner {
  margin: 100px auto;
  // width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: var(--base-monash-blue);
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

@media only screen and (min-width: 768px) {
  .container-master {
    border-right: 2px solid black;
    margin-right: auto;
  }

  .content-container {
    &__item .content-container__half-width:first-child {
      border-right: 2px solid black;
    }

    &__half-width:nth-child(2) > * {
      // padding-right: 10px;
      padding-left: 15px;
    }

    &__half-width:nth-child(1) > * {
      padding-left: 10px;
      padding-right: 15px;
    }

    &__half-width.main-navigation-menu__items > * {
      padding-left: 0;
    }

    &__half-width .content-description__inner {
      padding-right: unset;
    }
  }

  .content-container__item-stacker .content-container__inner {
    transform: translateX(0);
  }
}

/************* HEADER ******************/

.header-container {
  &__wrapper {
    height: 5%;
    margin-bottom: 30px;
    margin-top: 2px;

    img,
    svg {
      height: 22px;
    }

    .header-container__monash-link img,
    .header-container__home-link img {
      height: 22px;
    }
  }

  &__search,
  &__menu {
    background: transparent;
    border: 0;
    color: #fff; // margin: auto 15px;
    position: relative; // height: 2rem;// width: 2rem;
    cursor: pointer;
    display: inline-block;
  }

  // &__search::after {
  //   background-size: 564px 420px;
  //   background-position: -432px -36px;
  // }
  // &__menu::after {
  //   background-size: 752px 560px;
  //   background-position: -723px -7px;
  // }
  // &__logo-main img {
  //   padding-left: 10px;
  // }
  &__home-link {
    margin-right: 15px;
  }

  &__icon {
    height: 2em;
    width: 2em;
  }

  &__home-link {
    height: 2em;
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    transition-property: all;
    transition-duration: var(--transition-duration);
    transition-delay: var(--transition-delay);
  }
}

.global-spritesheet::after {
  // .header-container__search::after,
  // .header-container__menu::after
  content: '';
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 390px) {
  .header-container {
    &__wrapper {
      img,
      svg {
        height: 23px;
      }
      .header-container__monash-link img,
      .header-container__home-link img {
        height: 30px;
      }
    }
  }
}

@media only screen and (min-width: 460px) {
  .header-container {
    &__wrapper {
      img,
      svg {
        height: 30px;
      }
      .header-container__monash-link img,
      .header-container__home-link img {
        height: 40px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .header-container {
    &__home-link {
      margin-left: 17px;
      margin-right: auto;
    }

    &__wrapper {
      img,
      svg {
        height: 2em;
      }
      .header-container__monash-link img,
      .header-container__home-link img {
        height: 2.7em;
      }
    }
  }
}

/********* SECTION LANDING **************/

.section-landing__contents {
  .content-description {
    &__info {
      padding-right: 35px;
    }
    // &__heading {
    // font-weight: bold;
    // color: black;
    // }

    &__date {
      font-size: 1.2rem;
    }

    &__content span,
    &__subtitle {
      display: block;
      &-contents > * {
        padding-right: 10px;
      }
    }
  }

  .content-container__item {
    padding-right: 0;
  }

  .content-container__item .content-container__half-width:first-child {
    border-right: unset;
    padding-right: 15px;
  }

  .content-container__item .content-container__half-width:nth-child(2) {
    padding-left: 0;
  }

  .content-container__half-width:nth-child(1) > * {
    padding-left: unset;
    padding-right: 0;
    // margin-left: -5px;
  }

  .content-container__half-width:nth-child(2) > * {
    padding-right: unset;
    padding-left: 0;
    // margin-left: -5px;
  }

  .content-container__full-width {
    margin-left: -15px;
    margin-right: -15px;

    // .content-description__heading {
    //   font-size: 1.75rem;
    // }
  }

  .footer-info__text-block {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media only screen and (min-width: 576px) {
  // .content-container__half-width:nth-child(2) > * {
  // padding-left: 0;
  // margin-right: -5px;
  // }

  .home-landing__splash-screen > div {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  // .content-container__item .content-container__half-width:nth-child(2) {
  //   padding-left: 15px;
  // }

  .content-container {
    &__half-width {
      .content-description__heading.col-sm-12.col-md-6 {
        padding-right: 15px;
      }
      .content-description__content.col-sm-12.col-md-6 {
        padding-left: 15px;
      }
    }
  }
}
