@media only screen and (max-width: 335px) {
  .header-container__wrapper {
    margin-bottom: 35px;

    .header-container__navigation {
      flex-wrap: wrap;
    }

    .header-container__home-link {
      width: 100%;
    }

    img,
    svg {
      height: 18px;
    }

    .header-container__search,
    .header-container__menu {
      padding-top: 0;
    }
  }

  .main-navigation-menu__options {
    font-size: 1.5rem;
    line-height: normal;
    padding-bottom: 0.9rem;
  }

  .main-navigation-menu__wrapper.main-navigation-menu__wrapper-active > div {
    margin-top: 0;
  }

  .sidebar-footer {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 400px) {
  .header-container__wrapper {
    img,
    svg {
      height: 30px;
    }
  }

  .email-subscription {
    form p {
      flex-direction: row;
      width: 99%;
    }
    input {
      border-right: none;
      width: 30%;
    }
    button {
      margin: 0;
    }
  }

  .main-navigation-menu__options {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .container-master {
    height: calc(100vh - 60px);
    width: calc(100vw - 60px);
    margin: 28px 30px 30px;
  }
  .mobile-hidden {
    display: block;
    display: initial;
  }
  .header-container {
    &__home-link {
      margin-left: 17px;
      margin-right: auto;
    }
    &__wrapper img,
    &__wrapper svg {
      height: 2em;
    }
  }
  .section-navigation__menu-icon {
    display: none;
  }
  .container-contents__main {
    margin-top: 0;
  }
  // .footer-info {
  // margin-top: 4em;
  // column-count: 2;
  // }
  .content-container__full-width .content-description__content.col-md-6 {
    padding-left: 15px;
  }
  .section-landing__contents .container-contents__main {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .tablet-hidden {
    display: block;
    display: initial;
  }
  // .collection-browser__dropdown-button {
  //   width: 25%;
  // }
}

/* Change Text Size for Headings */
@media only screen and (max-width: 96em) {
  .content-description__heading {
    font-size: 2.75rem;
  }
}
@media only screen and (max-width: 92em) {
  .content-description__heading {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 87em) {
  .content-description__heading {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 90em) {
  /* For Full-width Containers */
  .content-description__highlight.content-description__info
    .content-description__heading,
  .home-landing__contents
    .content-container__full-width
    .content-description__heading {
    font-size: 3rem;
  }

  .content-container__full-width .content-description__content,
  .content-container__half-width .content-description__content {
    margin-top: 0;
  }
}

@media only screen and (max-width: 80em) {
  /* For Half-width Containers */
  .content-description__heading {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 75em) {
  /* For Full-width Containers */
  .content-description__highlight.content-description__info
    .content-description__heading,
  .home-landing__contents
    .content-container__full-width
    .content-description__heading {
    font-size: 2rem;
  }
  /* For Half-width Containers */
  .content-description__heading {
    font-size: 1.25rem;
  }
  .content-container__half-width > * {
    padding-left: 10px;
    padding-right: 10px;
  }
  // .content-container__full-width .content-description__content {
  //   margin-top: 0.35rem;
  // }
  // .content-container__full-width .content-description__content, .content-container__half-width .content-description__content {
  //   margin-top: 0;
  // }
}
