/********** MAIN NAVIGATION MENU **********/

.main-navigation-menu__wrapper {
  // display: none;
  // position: absolute; // height: 1px;
  // width: 1px;
  // transition-timing-function: linear;
  // opacity: 0;
  // color: #fff;
  // z-index: 100;
  // right: 1%;
  // top: 1%;
  // transition: all 2s;
  position: relative;
  height: 0;
  width: 100%;
  transition-property: background-color, opacity, height;
  transition-duration: var(--transition-duration);
  transition-delay: var(--transition-delay);
  visibility: hidden;
  z-index: 15;
  &.main-navigation-menu__wrapper-active {
    // width: 100%;
    // right: unset;
    // position: relative;
    // top: unset;
    // transition: all 2s;
    // opacity: 1;
    position: relative;
    visibility: visible;
    display: flex;
    height: calc(95% - 30px);
    overflow: hidden; // z-index: 15;
    // Allow outlines to not be hidden by overflow:hidden
    margin-left: -1px;
    padding-left: 1px;
    > div {
      margin-top: 30px;
    }
  } // .container-contents__rhs {
  //   border-left: none;
  // }
}

.main-navigation-menu__main-content {
  // padding: 30px 10px 15px 0;
  padding-right: 10px;
  padding-bottom: 15px;
  height: 100%;

  > .row {
    height: 100%;
  }
}

.main-navigation-menu__sidebar-content {
  // padding-top: 30px;
  padding-bottom: 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  .content-container {
    max-width: 100%;
    min-width: 100%;
  }
  .content-container:first-child {
    height: fit-content;
    // height: 8.5rem;
    // margin-bottom: 7vh;
  }

  > div {
    padding-left: 15px !important;
  }
}

.main-navigation-menu__image {
  max-height: 30vh;
}

.main-navigation-menu__description {
  padding-right: 6rem !important;
}

.main-navigation-menu__wrapper
  .container-contents__main
  .content-container__inner:nth-child(2) {
  border-left: 2px solid black; // border-right: 2px solid black;
  height: 100%;
}

// .main-navigation-menu__main-content .content-container__inner {
//   height: 100vh !important;
// }

.main-navigation-menu__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // .content-container:nth-child(2) {
  //   margin-bottom: 20vh;
  // }
  // .sidebar-footer a {
  //   color: white;
  // }
}

/********** SECTION NAVIGATION **********/

.section-navigation__wrapper {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  border-right: 2px solid black;
  padding-right: 15px !important;
  .content-container__inner {
    padding-right: 30px;
  }
  .section-navigation__section-heading {
    font-weight: bold;
    padding-bottom: 1rem; // a {
    //   display: flex;
    //   justify-content: space-between;
    // }
  }
  .section-navigation__menu-item--active:not(.section-navigation__section-heading) {
    text-decoration: underline; // font-weight: bold;
  }
}

.section-navigation__menu {
  padding: 0;
  &-sub {
    padding-left: 1rem;
    a:not(.section-navigation__menu-item--active) {
      display: none;
    }
  }
  &-item {
    list-style: none;
    a {
      color: black;
      display: block;
      text-indent: -1rem;
      padding-left: 1rem;
    }
  }
  &-icon {
    width: 2em;
    height: 2em;
    margin-right: 2.7rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/*********** FOOTER **********/

.main-container__footer-wrapper {
  margin-top: 10rem;
}

.email-subscription {
  form p {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
  }
  label {
    display: block;
    width: 100%;
  }
  input {
    background: transparent;
    border: 2px solid black;
    padding: 0.1rem 0.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
  }
  button {
    background: transparent;
    border: 2px solid black;
    min-width: 90px;
    min-width: fit-content;
    margin-top: 10px;
  }
  button {
    &:hover {
      background: #525252;
      color: white;
      cursor: pointer;
    }
    &:active {
      background: black;
      color: white;
    }
  }
}

.footer-location,
.footer-info {
  align-items: flex-end;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

// .footer-info {
// margin-top: 4em;
// p {
// font-size: 0.9375rem;
//   line-height: 1.166666667;
//   margin: 0 0 0.3rem;
// }
// &__text-block {
//   padding-right: 10px;
//   padding-left: 10px;
// }
// .content-container:first-child {
/* Rearrange the Opening Hours to last on the front page*/
//   order: 2;
// }
// }

.sidebar-footer {
  width: 100%;
  a {
    display: block;
    font-weight: bold;
    color: black;
  }
  &__social-media {
    padding-top: 1rem;
  }
}

// @media only screen and (min-width: 768px) {
//   .main-container__footer-wrapper
//     .content-container__item
//     .content-container__half-width:first-child {
//     border-right: 2px solid #000;
//   }
// }
