/*********** ARTWORK POPUP **********/

#content-container__item-viewer {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  background: white;
  z-index: 100;
  // overflow-y: scroll;
  .content-inner__image {
    max-width: 100%;
    max-height: 75vh;
    width: auto;
    height: auto;
  }
  .content-description__info .content-description__info-heading {
    display: inline-block;
    padding-right: 0.5rem;
    color: black;
  }
  &--close {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: 0;
    color: #fff;
    padding: 0;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    margin: 0 -2.25rem;
  }
  &::after {
    background-size: 752px 560px;
    background-position: -672px -48px;
  }
  &--image {
    position: relative;
    max-width: 80%;
    height: 80%;
    display: inline-block;
  }

  .content-description__info {
    max-width: 90%;
    margin: 0 auto;
    // text-align: left;
  }
}

.content-container__item-viewer--image {
  position: relative;
}
.closeItemView {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
  &:hover {
    background-color: black;
    fill: white;
    cursor: pointer;
    path {
      fill: white !important;
    }
  }
}
.content-container__item-viewer--close {
  position: fixed;
  right: 20px;
  top: calc(5% + 60px);
  height: 3em;
  width: 3em;
  padding: 0;
  margin: 0;
  svg {
    width: 25px;
    height: 25px;
  }
  &:hover symbol path {
    fill: white;
  }
  &:focus {
    outline: black solid 3px !important;
  }
}

@media only screen and (min-width: 768px) {
  .content-container__item-viewer--close {
    position: absolute;
    right: 5px;
    top: 0;
  }

  #content-container__item-viewer .content-description__info {
    max-width: 50%;
  }
}
