// .js-background-black {
//   background-color: black;
// }
// .container-master.js-background-grey {
// border-left: 2px solid white;
// border-right: 2px solid white;
// }
// .js-filter__invert {
//   filter: invert(100%);
// }
.js-main-navigation-menu__item-inactive,
.js-hidden {
  display: none;
}

/********** SECTION NAVIGATION **********/
.js-section-navigation__mobile .section-navigation__menu-sub--active a {
  padding-left: 45px;
}
.js-section-navigation__mobile {
  position: fixed;
  z-index: 10;
  background-color: white;
  margin-left: -15px;
  .content-container {
    width: 100%;
    padding: 0;
  }
  ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  a {
    padding-left: 30px;
    line-height: 50px;
    text-indent: 0;
  }
  li.section-navigation__menu-item {
    border-bottom: solid black 1px;
    border-left: 0;
    border-right: 0;
    padding: 0;
    margin: 0;
    background-color: white;
  }
  li.section-navigation__menu-item:not(.section-navigation__section-heading) {
    // display: none;
    display: block;
    // display: flex;
    // flex-flow: column nowrap;
    // justify-content: center;
    visibility: hidden;
    // height: 0;
    max-height: 0;
    min-height: 0;
    opacity: 0;
    transition: all var(--transition-duration) var(--transition-delay);
  }
  li.section-navigation__menu-item:not(.section-navigation__section-heading):nth-child(n
      + 3) {
    border-top: 0;
  }
  .js-section-navigation__menu--expanded
    li.section-navigation__menu-item:not(.section-navigation__section-heading) {
    // display: block;
    opacity: 100;
    min-height: 50px;
    max-height: 1000px;
    visibility: visible;

    &.subpage-active {
      min-height: 100px;
    }
  }
  .section-navigation__section-heading {
    // display: block;
    padding-bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .section-navigation__menu-item--active {
    font-weight: bold;
  }
  .section-navigation__menu-sub {
    display: none;
    &.section-navigation__menu-sub--active {
      display: block;
      a {
        padding-left: 45px;
      }
    }
  }
}
