@media print {
  body {
    display: block;
    font-size: 1.5em;
  }
  .background-grey {
    background-color: none !important;
  }
  .section-navigation__menu-icon {
    display: none;
  }
  .container-master.container-fluid {
    border: 0;
  }
  .row.no-gutters.header-container__wrapper.justify-content-between {
    display: table;
    width: 100%;
  }
  .col-4.header-container__logo-main {
    display: table-cell;
    width: 100%;
  }
  .col-8.col-md-2.header-container__navigation.text-right {
    display: table-cell;
    width: 100%;
  }
  .col-md-8 {
    max-width: unset;
  }
  .row {
    margin-right: unset;
    margin-left: unset;
  }
  /* header fixes start */
  .header-container__wrapper .header-container__home-link img,
  .header-container__wrapper .header-container__monash-link img,
  .header-container__wrapper img,
  .header-container__wrapper svg {
    height: 52px;
    margin-top: 30px;
  }
  /* header fixes end */
  .container-contents__rhs {
    border-left: none;
  }
  .content-container__item-stacker .content-description__heading {
    font-size: 1.8rem;
  }
  .col-md-2.mobile-hidden.content-container.container-contents__rhs.mobile-hidden {
    display: contents;
  }
  .content-container__item.col-12.content-container__item-stacker.content-container__item-stacker--fourth {
    height: unset !important;
  }
  .main-container__wrapper
    main
    > .content-container__item
    .content-container__inner {
    padding-bottom: 0px;
  }
  .home-landing__contents main .content-container__half-width {
    page-break-after: always;
    page-break-inside: avoid;
    max-width: unset;
    width: 100%;
    display: block;
    position: relative;
  }
  .content-container__item {
    padding: unset !important;
  }
  .col-sm-12.col-md-3.content-container__inner {
    position: relative !important;
    top: unset !important;
    left: unset !important;
    padding-left: unset !important;
  }
  .button.header-container__search,
  .header-container__menu {
    display: none;
  }
  .col-sm-12.col-md-6.content-container__inner.content-container__half-width.hidden
    * {
    display: none;
  }
  .content-container__half-width
    .content-description__content.col-sm-12.col-md-6 {
    padding-left: 0px;
  }
  .content-inner__classification,
  .content-inner__classification .content-inner__classification a {
    font-size: 1.3em;
  }
  .simplebar-content .content-container__item.col-12:nth-child(1) .col-md-6 {
    -ms-flex: none;
    flex: none;
    max-width: none;
  }
  .content-description__wrapper.row.no-gutters .col-md-6 {
    -ms-flex: none;
    flex: none;
    max-width: none;
  }
  .content-description__wrapper {
    padding-bottom: 0px;
  }
  .container-master.container-fluid {
    height: unset;
    width: unset;
    margin: unset;
  }
  /*.content-container__half-width:first-child>* {*/
  /*    padding-left: 20px;*/
  /*}*/
  /*.content-container__half-width:nth-child(2)>* {*/
  /*    padding-left: 20px;*/
  /*}*/
  .content-container.sidebar-footer.mobile-hidden {
    display: none;
  }
  .content-description__heading {
    font-size: 2rem;
  }
  .mobile-hidden,
  .tablet-hidden {
    /*display: block;*/
  }
  .row.no-gutters.col-sm-12.col-lg-10.content-container.container-contents__main {
    /*-ms-flex: none;*/
    /*flex: none;*/
    max-width: none;
  }
  .row.no-gutters.col-lg-2.tablet-hidden.content-container.container-contents__rhs {
    /*flex: 0 0 100%;*/
    /*max-width: 100%;*/
    display: none;
  }
  .main-container__footer-wrapper
    .row.no-gutters
    .row.no-gutters.footer-location {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
  }
  .main-container__footer-wrapper .content-container__item {
    padding-left: 0px;
  }
  .content-inner__classification.col-12 {
    padding-left: 0px;
  }
  .section-navigation__wrapper {
    border: 0;
  }
  .footer-info.col-sm-12 {
    padding-left: 0px;
  }
  .footer-info.col-sm-12 .pl-md-2 {
    padding-left: 0rem !important;
  }

  /*.container-master {*/
  /*    display: block;*/
  /*    float: left;*/
  /*}*/
  /* DS Addition 5/03: To fix overflow */
  .header-container__wrapper {
    display: none;
  }
  /* firefox, safari extra page fix */
  * {
    overflow: visible !important;
  }
  .row {
    display: block;
  }
  // chrome bug / workaround
  .col-md-6 {
    -ms-flex: unset;
    flex: unset;
    max-width: 100%;
  }
  .col-md-4 {
    flex: unset;
    max-width: 100%;
  }
  .col-md-3 {
    max-width: 100%;
  }
  .main-navigation-menu__sidebar-content {
    width: 100%;
  }
  .main-navigation-menu__sidebar-content .content-container {
    max-width: unset;
    min-width: unset;
    width: 50%;
  }
  .main-navigation-menu__sidebar-content > div {
    padding: 0;
  }
}
