1
  2
  3
  4
  5
  6
  7
  8
  9
  10
  11
  12
  13
  14
  15
  16
  17
  18
  19
  20
  21
  22
  23
  24
  25
  26
  27
  28
  29
  30
  31
  32
  33
  34
  35
  36
  37
  38
  39
  40
  41
  42
  43
  44
  45
  46
  47
  48
  49
  50
  51
  52
  53
  54
  55
  56
  57
  58
  59
  60
  61
  62
  63
  64
  fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

form {
  width: 100%;
}

.search-result {
  border-bottom: 1px solid grey;
  padding: 1rem 0;

  &__wrapper {
    padding-top: 1rem;
  }
}

.search-pagination {
  margin-top: 1rem;
  display: flex;
  width: 98%;
  justify-content: flex-end;
  align-items: center;

  > * {
    margin-left: 1rem;
  }

  // a {
  //   margin-left: 1rem;
  // }
}

#search-controls__keywords--input {
  width: 95%;
}

.search-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-bottom: 0.5rem;
  }

  * {
    margin: 0;
    height: 100%;
    padding: 0.1rem 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .search-controls__wrapper {
    grid-template-columns: 5fr 2fr;
  }
}
