.social-media {
  &__wrapper {
    word-break: break-word;
  }
  &__title {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__divider {
    width: 1rem;
    border-color: black;
    text-align: left;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__item {
    text-align: left;
  }
  &__heading {
    * {
      color: black;
    }
    &--type {
      font-weight: bold;
      padding-right: 1rem;
    }
  }
  &__image {
    max-width: 100%;
  }
  &__icons-wrapper {
    // margin-bottom: 2.5rem;
    padding-bottom: 5px;
    > a {
      display: inline-block;
      margin-top: 0.25rem;
      &:hover {
        text-decoration: none;
      }
      > svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
