.mobile-hidden,
.tablet-hidden {
  display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

button,
.button,
input {
  &.transparent {
    background: transparent;
    border: 1px solid #000;
    color: black;
  }
}

button,
.button {
  padding: 0.1rem 0.5rem;
  &.transparent:hover {
    background: #525252;
    color: #fff;
    cursor: pointer;
  }
  &.transparent:active {
    background: #000;
    color: #fff;
  }
}

.background-grey {
  background-color: #dbdcde;
}

.pos-relative {
  position: relative;
}

.visibility-hidden {
  visibility: hidden;
  opacity: 0;
}

.hidden {
  display: none;
}
