<title>%globals_site_name%</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="./?a=1572635:dist/globals-stylesheet.css">

<noscript>
  <style>
    [data-simplebar] {
      overflow: auto;
    }
  </style>
</noscript>