<div class="row no-gutters main-container__wrapper">
    <div data-simplebar class="row no-gutters col-sm-12 col-md-10 content-container container-contents__main">
        <div class="content-container__item col-12">
            <div class="content-container__inner content-container__full-width">
                <a href="https://www.monash.edu" class="content-inner__classification">Current Exhibition</a>
                <img class="content-inner__image" src="./?a=1572635:media/image/muma-example-1.jpg" alt="Test Image 1" />

                <div class="content-description__wrapper row no-gutters">
                    <span class="content-description__heading col-sm-12 col-md-4">Exhibition Heading</span>

                    <div class="content-description__content col-sm-12 col-md-8">
                        <p class="content-description__date">
                            22 July - 23 August 2017
                        </p>
                        <p class="content-description__inner">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in finibus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras scelerisque leo maximus viverra fermentum. Vivamus fermentum, lorem sit.
                            <a href="https://www.monash.edu" class="content-description__link">Find out more.</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="content-container__item col-12">
            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 content-container__inner content-container__half-width">
                    <a href="https://www.monash.edu" class="content-inner__classification">Upcoming Exhibition</a>
                    <img class="content-inner__image" src="./?a=1572635:media/image/muma-example-2.jpg" alt="Test Image 1" />

                    <div class="content-description__wrapper row no-gutters">
                        <span class="content-description__heading col-sm-12 col-md-4">Exhibition Heading</span>

                        <div class="content-description__content col-sm-12 col-md-8">
                            <p class="content-description__date">
                                22 July - 23 August 2017
                            </p>
                            <p class="content-description__inner">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in finibus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras scelerisque leo maximus viverra fermentum. Vivamus fermentum, lorem sit.
                                <a href="https://www.monash.edu" class="content-description__link">Find out more.</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 content-container__inner content-container__half-width">
                    <a href="https://www.monash.edu" class="content-inner__classification">Public Art</a>
                    <img class="content-inner__image" src="./?a=1572635:media/image/muma-example-3.jpg" alt="Test Image 1" />

                    <div class="content-description__wrapper row no-gutters">
                        <span class="content-description__heading col-sm-12 col-md-4">Exhibition Heading</span>

                        <div class="content-description__content col-sm-12 col-md-8">
                            <p class="content-description__date">
                                22 July - 23 August 2017
                            </p>
                            <p class="content-description__inner">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in finibus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras scelerisque leo maximus viverra fermentum. Vivamus fermentum, lorem sit.
                                <a href="https://www.monash.edu" class="content-description__link">Find out more.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-simplebar class="row no-gutters col-md-2 mobile-hidden content-container container-contents__rhs">
        <div class="content-container content-container__inner">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in finibus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras scelerisque leo maximus viverra fermentum. Vivamus fermentum, lorem sit
                amet euismod condimentum, ipsum est varius felis, nec elementum nibh leo at erat. Donec eu nisl tempor lectus accumsan tempus. Fusce sit amet quam ac sem dictum cursus auctor in augue. Nullam vel posuere est, at pellentesque leo. Mauris
                eros nisi, tempor et tempus et, pellentesque non tortor. Aenean risus nunc, pharetra a ante eu, mattis hendrerit velit. Etiam odio quam, scelerisque ut faucibus sit amet, porta et ex. Aliquam erat volutpat. Nulla placerat ex non lacinia
                aliquam. Duis vestibulum vitae purus ut suscipit. Vestibulum sed ligula sed sem suscipit accumsan. Nunc ante tortor, mattis a nunc at, finibus fermentum nisi. Vestibulum at orci id odio pretium egestas. Fusce faucibus suscipit lacinia.
                Curabitur sapien nisi, egestas eu magna at, porta finibus est. Donec in est mattis, consectetur justo id, pharetra dolor. Integer mollis erat vel tellus semper, ac mollis purus condimentum. Aenean euismod pellentesque odio non cursus.
                Nunc nibh leo, varius quis risus in, viverra venenatis orci. Pellentesque ut molestie massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam consequat bibendum mauris id sollicitudin. Etiam
                porta porttitor magna at gravida. Ut lacinia venenatis elit, et aliquam sem commodo vitae. Morbi vel nunc nibh. Nulla turpis velit, consequat vel iaculis eu, dictum non dui. Praesent efficitur nisl a elit egestas congue. Sed ac elit porta,
                suscipit ligula ac, ultricies justo. Fusce non lectus vel turpis molestie gravida vitae laoreet arcu. Donec mollis est sed posuere gravida. Aliquam non felis venenatis, dignissim arcu viverra, accumsan neque. Nunc vitae eleifend massa.
                Nam pharetra leo sit amet vehicula malesuada. Aliquam ullamcorper lacinia dui, tincidunt aliquet neque mollis sed. Donec auctor a dui eget fermentum. Mauris at odio justo. Aliquam porta massa vel tincidunt facilisis. Nullam ornare pharetra
                elit, eu finibus leo mattis nec. Etiam gravida commodo eros ac ornare. Donec molestie metus in auctor mattis. Donec consectetur, turpis in varius placerat, est ligula auctor nisl, ut convallis enim dui eget mi. Duis in malesuada urna,
                quis varius magna. Vestibulum in massa sed nunc malesuada volutpat ut rutrum ligula. Aenean in auctor nibh, sed auctor odio. Ut a ligula eget tortor luctus sollicitudin eu vitae felis. Quisque rhoncus orci et rutrum gravida. Maecenas enim
                magna, sodales in nunc quis, pretium vehicula urna. Vivamus lobortis mauris ut nisi volutpat fermentum. Phasellus aliquet purus metus. Integer in feugiat sapien, nec vehicula metus. In nec imperdiet mi, efficitur mattis magna. Pellentesque
                habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eu leo velit. Quisque efficitur velit tellus, eu tempor neque consequat nec. Nunc non orci auctor, dignissim justo ut, ornare leo. Morbi nec ornare dui,
                sodales dictum diam. Vivamus scelerisque tristique arcu, quis luctus libero sagittis quis. Nam at semper lorem, vitae porta diam. Sed eu ligula vel orci pulvinar fringilla. Proin iaculis, turpis in cursus vestibulum, est risus maximus
                leo, tempus mattis nulla nulla eu massa. Praesent lacinia, velit at viverra vulputate, dolor metus imperdiet nunc, vel aliquet odio ex id arcu. Maecenas tempus aliquam iaculis. In orci est, lacinia et elit vitae, varius aliquam turpis.
                Aenean non egestas diam. Donec ac elit posuere, bibendum libero nec, cursus leo. Proin est lacus, viverra ac vehicula in, faucibus non diam. Donec mauris metus, interdum in lectus vel, vestibulum rutrum magna. Cras at massa vitae arcu
                varius sagittis. Aliquam cursus sem ex, quis tempor elit interdum tincidunt. Sed placerat odio mauris, rutrum dapibus lectus facilisis eu. Phasellus varius quam at nibh dignissim pellentesque. Mauris faucibus fermentum lacus. Pellentesque
                commodo luctus ligula in varius. Sed a ligula velit. Sed hendrerit est et justo luctus condimentum. Fusce posuere et neque nec tempus. Vestibulum non odio felis. Aenean id risus vitae mi auctor scelerisque. Duis non laoreet odio. In nec
                congue velit, eget ultrices sapien. Sed semper eget elit a ullamcorper. Vestibulum ullamcorper ex a dictum vulputate. Etiam id imperdiet turpis. Sed fermentum nibh non dui interdum laoreet. Etiam id tristique massa. Vivamus eget placerat
                arcu, at aliquam quam. Aenean ac dolor ornare sem rutrum iaculis. Donec interdum neque metus, vel laoreet justo egestas non. Aliquam consequat diam fermentum turpis faucibus, et accumsan neque venenatis. Cras accumsan, tellus vitae elementum
                tempus, libero mauris euismod mauris, mollis consectetur metus metus et massa. Ut fermentum vitae dolor sit amet molestie. Nullam imperdiet rhoncus porta. Aliquam nec scelerisque elit. Etiam egestas eleifend massa nec auctor. Pellentesque
                tristique malesuada nisi, sit amet efficitur nulla porta at. Sed congue mauris tellus, accumsan commodo metus fermentum in. Duis eleifend risus ac purus lobortis fermentum. Nam maximus, nisl congue egestas consectetur, tortor mauris bibendum
                arcu, in facilisis augue arcu et libero. Pellentesque venenatis mi eget porta luctus. Praesent orci sapien, lobortis eu quam sed, tempus facilisis justo. Sed convallis felis quam, at pharetra est vestibulum at. Etiam blandit sagittis orci,
                sit amet tempus est mattis vitae. Praesent ut ex at ex rutrum tincidunt. Aenean tristique pharetra euismod. Phasellus vestibulum ornare tempor. Pellentesque ut sollicitudin tortor. Ut convallis tempus malesuada. Sed vel commodo sapien.
                Proin tincidunt euismod accumsan. Sed porta urna eget justo ullamcorper iaculis. Proin vehicula accumsan metus non feugiat. Nam ut finibus sem. Nulla tincidunt, magna vitae tincidunt eleifend, lectus lorem pharetra felis, a tempus libero
                lectus et arcu. Integer mollis turpis erat, consectetur tempor tellus rhoncus at. Curabitur aliquam odio ligula.
            </p>
        </div>
    </div>

</div>