<div class="row no-gutters main-container__wrapper section-landing__contents">
  <div class="row no-gutters col-md-3 mobile-hidden content-container container-contents__lhs sidebar-navigation__wrapper">
      <div class="content-container content-container__inner">         
        <ul class="sidebar-navigation__menu">
          <li class="sidebar-navigation__menu-item sidebar-navigation__section-heading sidebar-navigation__menu-item__active"><a href="#">Exhibitions</a></li>
          <li class="sidebar-navigation__menu-item"><a href="#">Current</a></li>
          <li class="sidebar-navigation__menu-item"><a href="https://www.monash.edu">Upcoming</a></li>
          <li class="sidebar-navigation__menu-item"><a href="https://www.monash.edu">Previous</a></li>
          <li class="sidebar-navigation__menu-item"><a href="https://www.monash.edu">Offsite & Touring</a></li>
        </ul>

        <p class="sidebar-navigation__menu-description">
          Explore our dynamic program of exhibitions focusing on contemporary Australian and  international art. Exhibitions range from newly commissioned projects to surveys of signifi cant artists, thematic group exhibitions, research-based projects and explorations of the Monash University Collection.
        </p>
      </div>

      <div class="content-container content-container__inner sidebar-navigation__footer">
        <a href="https://www.monash.edu">Subscribe to E-News</a>
        <div class="sidebar-navigation__footer__social-media">
          <a href="https://www.monash.edu">Facebook</a>
          <a href="https://www.monash.edu">Twitter</a>
          <a href="https://www.monash.edu">Instagram</a>
        </div> 
      </div>
  </div>

  <div data-simplebar class="row no-gutters col-sm-12 col-md-9 content-container container-contents__main">
    <div class="content-container__item col-12">
      <div class="content-container__inner content-container__full-width">
        <a href="https://www.monash.edu"  class="content-inner__classification">Current Exhibition</a>
        <img class="content-inner__image" src="media/image/muma-example-1.jpg" alt="Test Image 1" />
        
        <div class="content-description__wrapper row no-gutters">          
          <div class="content-description__content col-sm-12">
            <span class="content-description__heading">Christian Thompson: Ritual Intimacy</span>
            <span class="content-description__date">
              22 July - 23 August 2017
            </span>
            <p class="content-description__inner">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in finibus turpis. Pellentesque habitant
              morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras scelerisque leo maximus
              viverra fermentum. Vivamus fermentum, lorem sit.
            </p>
            <a href="https://www.monash.edu">Read more.</a>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12">
      <a href="https://www.monash.edu" class="content-inner__classification">Upcoming Exhibition</a>
    </div>

    <div class="content-container__item col-12">
      <div class="row">
        <div class="col-sm-12 col-md-6 content-container__inner content-container__half-width">
          <img class="content-inner__image" src="media/image/muma-example-2.jpg" alt="Test Image 1" />
            
          <div class="content-description__wrapper row no-gutters">            
            <div class="content-description__content col-sm-12">
              <span class="content-description__heading">Future Eaters</span>
              <p class="content-description__date">
                22 July - 23 September 2017
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 content-container__inner content-container__half-width">
          <img class="content-inner__image" src="media/image/muma-example-4.jpg" alt="Test Image 1" />
            
          <div class="content-description__wrapper row no-gutters">
            <div class="content-description__content col-sm-12">
              <span class="content-description__heading">The Humours</span>
              <p class="content-description__date">
                22 July - 23 September 2017
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <a href="https://www.monash.edu" class="content-inner__classification">Previous Exhibition</a>
    </div>

    <div class="content-container__item col-12">
      <p class="content-container__heading-small">2018</p>
      <div class="row">
        <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
          <img class="content-inner__image" src="media/image/muma-prev-example-1.jpg" alt="Test Image 1" />
            
          <div class="content-description__wrapper row no-gutters">            
            <div class="content-description__content col-sm-12">
              <span class="content-description__heading">Michael Cook, Language group: Bidjara</span>
                <p class="content-description__inner">
                    Majority rule (Memorial) from the Majority rule series, 2014
                </p>
            </div>
          </div>

        </div>

        <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
          <img class="content-inner__image" src="media/image/muma-prev-example-2.jpg" alt="Test Image 1" />
            
          <div class="content-description__wrapper row no-gutters">
            <div class="content-description__content col-sm-12">
              <span class="content-description__heading">Justene Williams</span>
                <p class="content-description__inner">
                    She came over singing like a drainpipe shaking spoon infused mixers, 2011
                </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
          <img class="content-inner__image" src="media/image/muma-prev-example-3.jpg" alt="Test Image 1" />
            
          <div class="content-description__wrapper row no-gutters">            
            <div class="content-description__content col-sm-12">
              <span class="content-description__heading">Gunter Christmann</span>
                <p class="content-description__inner">
                    Die mauer/The wall/Le mur, 1989
                </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="content-container__item col-12">
        <p class="content-container__heading-small">2017</p>
        <div class="row">
          <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
            <img class="content-inner__image" src="media/image/muma-prev-example-4.jpg" alt="Test Image 1" />
              
            <div class="content-description__wrapper row no-gutters">            
              <div class="content-description__content col-sm-12">
                <span class="content-description__heading">Michael Cook, Language group: Bidjara</span>
                  <p class="content-description__inner">
                      Majority rule (Memorial) from the Majority rule series, 2014
                  </p>
              </div>
            </div>

          </div>

          <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
            <img class="content-inner__image" src="media/image/muma-prev-example-5.jpg" alt="Test Image 1" />
              
            <div class="content-description__wrapper row no-gutters">
              <div class="content-description__content col-sm-12">
                <span class="content-description__heading">Michael Cook, Language group: Bidjara</span>
                  <p class="content-description__inner">
                      Majority rule (Memorial) from the Majority rule series, 2014
                  </p>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
            <img class="content-inner__image" src="media/image/muma-prev-example-6.jpg" alt="Test Image 1" />
              
            <div class="content-description__wrapper row no-gutters">            
              <div class="content-description__content col-sm-12">
                <span class="content-description__heading">Gunter Christmann</span>
                  <p class="content-description__inner">
                      Die mauer/The wall/Le mur, 1989
                  </p>
              </div>
            </div>
          </div>

        </div>
      </div>

  </div>
</div>
