<div class="row no-gutters main-container__wrapper section-landing__contents">
    <div class="row no-gutters col-md-3 mobile-hidden content-container sidebar-navigation__wrapper">
        <div class="content-container content-container__inner">
            <ul class="sidebar-navigation__menu">
                <li class="sidebar-navigation__menu-item sidebar-navigation__section-heading sidebar-navigation__menu-item__active"><a href="./section-landing.html">Public Art</a></li>
                <li class="sidebar-navigation__menu-item"><a href="https://www.monash.edu">MUMA Public Art Walk</a></li>
                <li class="sidebar-navigation__menu-item"><a href="https://www.monash.edu">Contemporary</a></li>
                <li class="sidebar-navigation__menu-item"><a href="https://www.monash.edu">Historical</a></li>
            </ul>

            <p class="sidebar-navigation__menu-description">
                Since its foundation and the first intake of students in 1961, Monash University has consistently commisioned significant works of art to complement the architecture and the landscapes of its campuses.
            </p>
        </div>

        <div class="content-container content-container__inner sidebar-navigation__footer">
            <a href="https://www.monash.edu">Subscribe to E-News</a>
            <div class="sidebar-navigation__footer__social-media">
                <a href="https://www.monash.edu">Facebook</a>
                <a href="https://www.monash.edu">Twitter</a>
                <a href="https://www.monash.edu">Instagram</a>
            </div>
        </div>
    </div>

    <div data-simplebar class="row no-gutters col-sm-12 col-md-9 content-container container-contents__main">
        <div class="content-container__item col-12">
            <div class="content-container__inner content-container__full-width">
                <a href="https://www.monash.edu" class="content-inner__classification">Current Exhibition</a>
                <img class="content-inner__image" src="media/image/muma-example-3.jpg" alt="Test Image 1" />

                <div class="content-description__wrapper row no-gutters">
                    <div class="content-description__content col-sm-12">
                        <span class="content-description__heading">Christian Thompson: Ritual Intimacy</span>
                        <span class="content-description__date">22 July - 23 August 2017</span>
                        <p class="content-description__inner">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in finibus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras scelerisque leo maximus viverra fermentum. Vivamus fermentum, lorem sit.
                        </p>
                        <a href="https://www.monash.edu">Read more.</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <a href="https://www.monash.edu" class="content-inner__classification">All Public Art</a>
        </div>

        <div class="col-12 content-container__item content-container__item-stacker">
            <div class="row">
                <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
                    <img class="content-inner__image" src="media/image/muma-prev-example-1.jpg" alt="Test Image 1" />

                    <div class="content-description__wrapper row no-gutters">
                        <div class="content-description__content col-sm-12">
                            <span class="content-description__heading">Michael Cook, Language group: Bidjara</span>
                            <p class="content-description__inner">
                                Majority rule (Memorial) from the Majority rule series, 2014
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
                    <img class="content-inner__image" src="media/image/muma-prev-example-2.jpg" alt="Test Image 1" />

                    <div class="content-description__wrapper row no-gutters">
                        <div class="content-description__content col-sm-12">
                            <span class="content-description__heading">Justene Williams</span>
                            <p class="content-description__inner">
                                She came over singing like a drainpipe shaking spoon infused mixers, 2011
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
                    <img class="content-inner__image" src="media/image/muma-prev-example-3.jpg" alt="Test Image 1" />

                    <div class="content-description__wrapper row no-gutters">
                        <div class="content-description__content col-sm-12">
                            <span class="content-description__heading">Gunter Christmann</span>
                            <p class="content-description__inner">
                                Die mauer/The wall/Le mur, 1989
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
                    <img class="content-inner__image" src="media/image/muma-prev-example-4.jpg" alt="Test Image 1" />

                    <div class="content-description__wrapper row no-gutters">
                        <div class="content-description__content col-sm-12">
                            <span class="content-description__heading">Michael Cook, Language group: Bidjara</span>
                            <p class="content-description__inner">
                                Majority rule (Memorial) from the Majority rule series, 2014
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
                    <img class="content-inner__image" src="media/image/muma-prev-example-5.jpg" alt="Test Image 1" />

                    <div class="content-description__wrapper row no-gutters">
                        <div class="content-description__content col-sm-12">
                            <span class="content-description__heading">Michael Cook, Language group: Bidjara</span>
                            <p class="content-description__inner">
                                Majority rule (Memorial) from the Majority rule series, 2014
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
                    <img class="content-inner__image" src="media/image/muma-prev-example-6.jpg" alt="Test Image 1" />

                    <div class="content-description__wrapper row no-gutters">
                        <div class="content-description__content col-sm-12">
                            <span class="content-description__heading">Gunter Christmann</span>
                            <p class="content-description__inner">
                                Die mauer/The wall/Le mur, 1989
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
                    <img class="content-inner__image" src="media/image/muma-prev-example-1.jpg" alt="Test Image 1" />

                    <div class="content-description__wrapper row no-gutters">
                        <div class="content-description__content col-sm-12">
                            <span class="content-description__heading">Michael Cook, Language group: Bidjara</span>
                            <p class="content-description__inner">
                                Majority rule (Memorial) from the Majority rule series, 2014
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
                    <img class="content-inner__image" src="media/image/muma-prev-example-2.jpg" alt="Test Image 1" />

                    <div class="content-description__wrapper row no-gutters">
                        <div class="content-description__content col-sm-12">
                            <span class="content-description__heading">Justene Williams</span>
                            <p class="content-description__inner">
                                She came over singing like a drainpipe shaking spoon infused mixers, 2011
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 content-container__inner content-container__third-width">
                    <img class="content-inner__image" src="media/image/muma-prev-example-3.jpg" alt="Test Image 1" />

                    <div class="content-description__wrapper row no-gutters">
                        <div class="content-description__content col-sm-12">
                            <span class="content-description__heading">Gunter Christmann</span>
                            <p class="content-description__inner">
                                Die mauer/The wall/Le mur, 1989
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>