/********** Collection Browser Filter Menu **********/

.collection-browser__search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 2rem;

  label {
    display: block;
    width: 100%;
  }

  input {
    border-right: none;
    padding-left: 15px;
    padding-right: 15px; // width: 90%;
    flex-grow: 1;
    height: 2.25rem;
  }

  button {
    margin: 0;
    width: 10%;
    min-width: 60px;
    min-width: fit-content;
    height: 2.25rem;
    // padding: initial !important;
  }
}

.collection-browser__filter-main {
  width: 100%;
  text-align: center;

  ul {
    list-style: none;
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    margin-right: 15px;
  }

  input {
    visibility: hidden;
  }

  label {
    cursor: pointer;
  }

  input + label {
    color: #505050;
  }

  input:checked + label {
    text-decoration: underline;
    color: black;
  }
}

.collection-browser__select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin-top: 2rem;

  .collection-browser__select--applied-filters {
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    width: 100%;
    padding-bottom: 1rem;
    flex-wrap: wrap;

    div.chip {
      padding-right: 10px;
      line-height: 28px;
      &:first-child {
        margin-left: 10px;
      }
      button.closebtn {
        margin-left: 1px;
        background: transparent;
        border: 1px solid transparent;
        padding: 0px 5px;
        &:hover {
          border: 1px solid gray;
        }
      }
    }
  }

  .collection-browser__select-heading > span {
    display: block;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .collection-browser__search-button {
    margin: 1rem 0 1rem auto;
  }
}

#collection-browser__results-container,
.collection-browser__wrapper,
.collection-browser__select-heading,
.collection-browser__dropdown-button__wrapper {
  width: 100%;

  &--hidden {
    display: none;
  }
}

#collection-browser__results-container {
  min-height: 47.7vh;
  // overflow: auto;
  position: relative;
  margin-bottom: 3rem;

  .button--view-more {
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 9rem;
    height: 3rem;
  }
}

.collection-browser__search--wrapper {
  display: grid;
  grid-template-columns: 1fr;
  // grid-gap: 10px;
}

.collection-browser__dropdown-button {
  &__wrapper {
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem 10px;
  }

  button {
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
  }
}

/* TEMPORARY CONTENT, CHANGE TO SPRITESHEET LATER */

.collection-browser__dropdown-button {
  button::after {
    content: '\25BC';
    position: absolute;
    right: 25px;
  }

  &:not(.active) {
    border-color: #6b6b6b;
    color: #6b6b6b;
  }

  button.active::after {
    content: '\25B2';
  }
}

.collection-browser__dropdown-button {
  position: relative;
  width: 100%;
  // padding: 10px;
}

/*********** Filter Option Fields **********/

.collection-browser__select-options {
  display: none;
  height: 10rem;
  border: 1px solid black;
  // margin-left: 15px;
  // margin-right: 15px;

  &__wrapper {
    padding: 20px 0;
    grid-column: 1 / -1;
    &--hidden {
      display: none;
    }
  }

  &.active {
    display: block;
  }

  &--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem;
    grid-gap: 0.5rem;
  }
}

/********** Filter Checkboxes **********/

.collection-browser__select-options {
  &--checkbox {
    position: relative;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &--checkbox {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &--checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &--checkbox input:checked ~ .checkbox::after {
    content: '\2713';
    width: 1rem;
    height: 1rem;
    position: absolute;
    text-align: center;
    margin-top: -6px;
    margin-left: -1px;
    font-size: 1rem;
  }

  &--selected {
    display: none;
  }
}

.checkbox {
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

@media only screen and (min-width: 400px) {
  .collection-browser__select .collection-browser__select-heading > span {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 768px) {
  .collection-browser__dropdown-button__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .collection-browser__search--wrapper {
    margin-top: 3rem;
    grid-template-columns: 3fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  // .collection-browser__dropdown-button__wrapper,
  .collection-browser__select-options--container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 335px) {
  .collection-browser__select-options--container {
    grid-template-columns: 1fr;
  }

  .content-container__item-viewer--image,
  #content-container__item-viewer .content-inner__image {
    max-height: 50vh;
  }

  .content-container__item-viewer--close {
    height: 2.5em;
    width: 2.5em;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .section-landing__contents .content-description__info {
    padding-right: 0;
    font-size: 0.9rem;
    .content-description__artwork-details {
      font-size: 0.8rem;
    }
  }
}
